/*Fonts **********************************************/
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot') format('embedded-opentype'),
         url('../fonts/Gilroy-Regular.woff2') format('woff2'),
         url('../fonts/Gilroy-Regular.woff') format('woff'),
         url('../fonts/Gilroy-Regular.ttf') format('truetype'),
         url('../fonts/Gilroy-Regular.svg#GilroyRegular') format('svg');
         font-weight: 400;
         font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'),
         url('../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy-Medium.woff') format('woff'),
         url('../fonts/Gilroy-Medium.ttf') format('truetype'),
         url('../fonts/Gilroy-Medium.svg#GilroyMedium') format('svg');
         font-weight: 500;
         font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'),
         url('../fonts/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy-Bold.woff') format('woff'),
         url('../fonts/Gilroy-Bold.ttf') format('truetype'),
         url('../fonts/Gilroy-Bold.svg#GilroyBold') format('svg');
         font-weight: 700;
         font-style: normal;
}
.banner {
    position: relative;
    background: #1B2136;
    width: 100%;
    padding: 200px 0 100px 0;
}
.wrapper {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}
.bannerElement1 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}
.bannerElement2 {
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: contain;
}
.bannerElement3 {
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: contain;
}
header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
}
.banner .wrapper {
    position: relative;
    z-index: 2;
}
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .wrapper ul {
    display: flex;
    align-items: center;
}
header .wrapper ul li {
    margin-right: 20px;
}
header .wrapper ul li a {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}
header .wrapper ul li:nth-last-of-type(1) {
    margin-right: 0;
}
.logo {
    margin-right: 5%;
}
.headerNavigation {
    margin-right: 10%;
}
.package {
    margin-right: 5%;
}
.headerBtn button {
    padding: 10px 30px;
    width: max-content;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
}
.openAccount {
    background: radial-gradient(47.11% 213.53% at -8.16% -16.33%, #BB2EFD 47.4%, #7461F0 100%);
    box-shadow: 0px 12px 31px rgba(72, 23, 135, 0.31), 0px 3.61765px 9.34559px rgba(72, 23, 135, 0.201993), 0px 1.50259px 3.88168px rgba(72, 23, 135, 0.155), 0px 0.543456px 1.40393px rgba(72, 23, 135, 0.108007), inset -6px -4px 4px rgba(255, 255, 255, 0.25);
    margin-right: 15px;
}
.logIn {
    position: relative;
    background: transparent;
}
.logIn::before {
    width: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 100px;
    background: linear-gradient(to right, rgba(187, 46, 253, 1), rgba(116, 97, 240, 1));
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}
.bannerTopContent {
    display: flex;
    align-items: flex-start;
    margin-bottom: 217px;
}
.bannerContentLeft h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.tittleBtn {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-bottom: 106px;
    display: inline-block;
    position: relative;
    z-index: 0;
    border: none;
}
.tittleBtn::before {
    width: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 100px;
    background: linear-gradient(to right, rgba(187, 46, 253, 1), rgba(116, 97, 240, 1));
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}
.bannerContentLeftPackage {
    display: flex;
    align-items: flex-start;
}
.sectionPackage h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 36px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.sectionPackage p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.sectionPackage {
    width: 50%;
}
.sectionPackage:nth-of-type(1) {
    padding-right: 30px;
}
.sectionPackageBtn {
    background: radial-gradient(47.11% 213.53% at -8.16% -16.33%, #BB2EFD 47.4%, #7461F0 100%);
    box-shadow: 0px 12px 31px rgba(72, 23, 135, 0.31), 0px 3.61765px 9.34559px rgba(72, 23, 135, 0.201993), 0px 1.50259px 3.88168px rgba(72, 23, 135, 0.155), 0px 0.543456px 1.40393px rgba(72, 23, 135, 0.108007), inset -6px -4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px;
}
.bannerBottomContent {
    display: flex;
}
.bannerBottomContentImg {
    min-width: 45px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #757575;
    box-shadow: 0px 12px 31px rgba(72, 23, 135, 0.31), 0px 3.61765px 9.34559px rgba(72, 23, 135, 0.201993), 0px 1.50259px 3.88168px rgba(72, 23, 135, 0.155), 0px 0.543456px 1.40393px rgba(72, 23, 135, 0.108007), inset -6px -4px 4px rgba(255, 255, 255, 0.25);
}
.bannerBottomContentImg p{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.bannerBottomContentText {
    background: #FFFFFF;
    padding: 50px 90px 50px 60px;
}
.bannerBottomContentText h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 17px;
}
.bannerBottomContentText p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}
.styleBlack {
    background: #141516;
    position: relative;
    display: flex;
}
.styleBlack::after {
    content: "";
    mix-blend-mode: luminosity;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.bannerContentLeft {
    width: 50%;
}
.bannerContentRight {
    width: 50%;
}
.bannerContentRight img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
}
/*Card **********************************************/
.card {
    padding: 160px 0;
    position: relative;
}
.cardElement1 {
    position: absolute;
    left: 0;
    top: 0;
}
.cardElement2 {
    position: absolute;
    right: 0;
    top: 0;
}
.card .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardContainer {
    background: #1B2136;
    border-radius: 10px;
    width: 33%;
    min-height: 270px;
    position: relative;
    z-index: 1;
    padding: 40px 65px 20px 40px;
    box-sizing: border-box;
}
.cardIconAfter1 {
    position: absolute;
    right: 0;
    top: 0;
}
.cardContainer img {
    margin-bottom: 20px;
}
.cardContainer h3 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.cardContainer p{
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
/*About Company **********************************************/
.aboutCompany {
    padding: 250px 0;
    position: relative;
    background: #1B2136;
}
.aboutCompany1 {
    position: absolute;
    top: -85px;
    left: 0;
}
.aboutCompany2 {
    position: absolute;
    bottom: -80%;
    left: 0;
}
.aboutCompany3 {
    position: absolute;
    bottom: -100px;
    right: 0;
}
.aboutCompany1 {
    background: url(../img/aboutCompany1.png), #1B2136;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutCompanyContainer {
    display: flex;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px rgba(116, 97, 240, 0.31);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.aboutCompanyContainer p {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}
.aboutCompanyContainer img {
    width: 50%;
    object-fit: cover;
}
.aboutCompany .wrapper h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 3;
}
/*Price **********************************************/
.priceContainer {
    display: flex;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 7.37098px 14.0719px rgba(0, 0, 0, 0.190754), 0px 2.19453px 4.18956px rgba(0, 0, 0, 0.129246), 0px 33px 63px rgba(0, 0, 0, 0.32);
    z-index: 10;
}
.priceContainerSection {
    width: 25%;
    background: #1B2136;
    border-right: 1px solid #fff;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}
.priceContainerSection:nth-last-of-type(1) {
    border-right: none;
}
.price {
    padding: 150px 0 290px 0;
    position: relative;
}
.price h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #1D2238;
    margin-bottom: 40px;
    text-align: center;
}
.priceImg1 {
    position: absolute;
    right: 0;
    bottom: 2%;
    max-width: 100%;
    object-fit: contain;
    width: 50%;
}
.priceContainerSectionTittle {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
.priceContainerSectionText {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}
.priceContainerSection span {
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}
/*Facilities **********************************************/
.facilities {
    padding: 185px 0 0 0;
    position: relative;
    overflow: hidden;
}
.facilities .wrapper {
    margin-bottom: 100px;
}
.facilities .wrapper h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #1B2136;
    text-align: center;
    margin-bottom: 50px;
}
.facilitiesContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.facilitiesContainerSection {
    background: #FFFFFF;
    box-shadow: 0px 11.3915px 20.9961px rgba(0, 0, 0, 0.0357664), 0px 3.39155px 6.2511px rgba(0, 0, 0, 0.0242336), 0px 51px 94px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    width: 32%;
}
.facilitiesTittle {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #1B2136;
    margin-bottom: 10px;
}
.facilitiesText {
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #1B2136;
}
.facilitiesImg2 {
    position: absolute;
    right: 0;
    top: 0;
}
.tompay {
    max-width: 50%;
    width: 50%;
    object-fit: contain;
}
/*Footer **********************************************/
footer {
    padding: 0 0 100px 0;
    background: #1B2136;
    position: relative;
}
footer .wrapper {
    padding-top: 715px;
}
.footerImg1 {
    position: absolute;
    left: 0;
    top: 100px;
    object-fit: contain;
}
.footerImg2 {
    position: absolute;
    right: 0;
    top: 100px;
    object-fit: contain;
}
.footerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 60px;
}
.footerNav li a{
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}
.footerNav li {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}
footer .wrapper {
    position: relative;
}
.getStarted {
    position: absolute;
    left: 0;
    top: -80px;
    background: #FFFFFF;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 40px;
    z-index: 3;
}
.getStartedLeft h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #1B2136;
    margin-bottom: 20px;
}
.getStartedLeftText {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #1B2136;
    margin-bottom: 40px;
}
.getStarted {
    display: flex;
    align-content: flex-end;
}
.form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}
.form input {
    width: 48%;
    margin-bottom: 14px;
    padding: 10px 20px;
    height: 52px;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #B3B3B3;
}
.select {
    width: 48%;
    position: relative;
}
select {
    width: 100%;
    margin-bottom: 14px;
    padding: 10px 20px;
    padding-top: 20px;
    height: 52px;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #1B2136;
}
.bigInput {
    width: 100% !important;
}
.select span {
    position: absolute;
    top: 8px;
    left: 20px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 12px;
    line-height: 130%;
    color: #B3B3B3;
}
.form input::placeholder {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #B3B3B3;
}
.checkbox input {
    width: 24px;
    height: 24px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    margin-right: 14px;
}
.checkbox {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #1B2136;
    display: flex;
    align-items: center;
    margin-bottom: 43px;
}
.form .submit {
    margin-bottom: 30px;
    height: 54px;
    width: 100% !important;
    border: none;
    background: radial-gradient(47.11% 213.53% at -8.16% -16.33%, #BB2EFD 47.4%, #7461F0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 12px 31px rgba(72, 23, 135, 0.31), 0px 3.61765px 9.34559px rgba(72, 23, 135, 0.201993), 0px 1.50259px 3.88168px rgba(72, 23, 135, 0.155), 0px 0.543456px 1.40393px rgba(72, 23, 135, 0.108007), inset -6px -4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.formBottom {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #666666;
}
.formBottom a {
    color: rgba(117, 98, 241, 1);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.positionImg {
    background: #1B2136;
    position: relative;
    top: -250px;
}
.selectArrow {
    position: absolute;
    right: 10px;
    top: 15px;
}
.positionImg:after {
    content: '';
    position: absolute;
    left: 455px;
    top: -86px;
    border-bottom: 85px solid white;
    border-left: 85px solid transparent;
    transform: rotate(-90deg);
}
































































































@media(max-width: 1315px) {
    .bannerContentRight img {
        max-width: 100%;
    }
    .wrapper {
        padding: 0 64px;
        box-sizing: border-box;
        max-width: 100%;
    }
    .openAccount {
        display: none;
    }
    .styleBlack img {
        max-width: 100%;
        object-fit: cover;
    }
    .bannerBottomContentText h2 {
        font-size: 40px;
    }
    .bannerBottomContentText {
        padding: 50px;
        width: 50%;
        box-sizing: border-box;
    }
    .bannerElement1 {
        max-width: 100%;
        box-shadow: inset;
    }
    .card {
        padding-bottom: 50px;
    }
    .card .wrapper {
        align-items: inherit;
    }
    .priceContainerSection {
        padding: 20px;
    }
    .priceContainerSectionTittle {
        font-size: 60px;
    }
    .priceContainerSectionText {
        font-size: 20px;
    }
    .facilities {
        padding-bottom:0;
    }
    .facilities .wrapper {
        margin-bottom: 100px;
    }
    .footerNav li a {
        font-size: 20px;
    }
    .footerNav li {
        font-size: 20px;
    }
    .getStarted {
        left: 5%;
        width: 90%;
    }
    .getStartedRight {
        width: 50%;
    }
    .getStartedLeft {
        width: 50%;
    }
    .getStartedRight img {
        max-width: 100%;
    }
    .getStarted {
        align-items: center !important;
        padding: 20px;
    }
    .priceImg1 {
        max-width: 65%;
        width: 100%;
        object-fit: contain;
    }
    .facilities {
        padding-top: 85px;
    }
    .aboutCompany {
        padding: 125px 0;
    }
    .bannerContentLeft {
        width: 85%;
    }
    .sectionPackage p {
        min-height: 90px;
    }
    .styleBlack {
        width: 50%;
    }
    .card .wrapper {
        padding-bottom: 50px;
    }
    .card{
        padding-bottom: 0;
    }
}










.bannerBusiness h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.bannerBusiness p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: #FFFFFF;
}
.bannerBusiness h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.bannerBusiness p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.bannerBusiness button {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 45px;
    background: radial-gradient(47.11% 213.53% at -8.16% -16.33%, #BB2EFD 47.4%, #7461F0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 12px 31px rgba(72, 23, 135, 0.31), 0px 3.61765px 9.34559px rgba(72, 23, 135, 0.201993), 0px 1.50259px 3.88168px rgba(72, 23, 135, 0.155), 0px 0.543456px 1.40393px rgba(72, 23, 135, 0.108007), inset -6px -4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    box-sizing: border-box;
    border: none;
}
.cardBusinessContainer {
    display: flex;
    justify-content: space-between;
}
.cardElement2 {
    height: 100%;
}
.cardBusiness .wrapper h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #1D2238;
    text-align: center;
    margin-bottom: 40px;
}
.cardBusiness .wrapper {
    flex-direction: column;
}
.bannerBusinessPage {
    padding-bottom: 0;
}
.cardContainers {
    display: flex;
    align-items: center;
}
.cardContainers h3 {
    margin-left: 10px;
}
.cardElement1 {
    height: 100%;
}
.bannerBusinessPage .wrapper {
    padding-bottom: 50px;
}
.cardBusinessContainer .cardContainer {
    width: 32%;
}
.aboutCompany .wrapper > p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-top: -20px;
    margin-bottom: 40px;
}
.aboutCompanySteps {
    height: 236px;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px rgba(116, 97, 240, 0.31);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
    box-sizing: border-box;
}
.aboutCompanySteps img {
    width: 100%;
}
.services {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.servicesSection {
    width: 32%;
    background: linear-gradient(116.62deg, rgba(255, 255, 255, 0.4) 1.54%, rgba(255, 255, 255, 0.1) 70.68%);
    box-shadow: 0px 1.36442px 32.7461px -1.36442px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.6442px);
    border-radius: 20.4663px;
    min-height: 225px;
    padding: 30px;
    box-sizing: border-box;
}
.servicesSection h3{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.servicesSection > p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.servicesSection ul {
    list-style: disc;
    padding-left: 20px;
}
.servicesSection li {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.servicesSectionGray h3 {
    color: #959595 !important;
}
.servicesSectionGray p {
    color: #959595 !important;
}
.services {
    margin-bottom: 180px;
}
.accountFees > h2 {
    text-align: left !important;
}
.accountFeesSection {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.accountFeesContainer {
    background: #F7F7F7;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}
.accountFeesLeft {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1B2136;
}
.accountFeesRight {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #1B2136;
    margin-left: auto;
}
.accountFeesSection:nth-of-type(2n){
    background: #FFFFFF;
}
.accountFeesSectionContainer:nth-of-type(1) {
    margin-left: auto;
    margin-right: 50px;
}
.accountFeesSectionContainer {
    text-align: right !important;
}
.accountFeesSection span {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 120%;
    color: #7461F0;
}
.mar {
    margin-right: 0 !important;
}
.Payments {
    margin-top: 35px;
}
.Payments .accountFeesContainer .accountFeesSection .accountFeesSectionContainer {
    margin-right: 0 !important;
}
.Payments .accountFeesContainer .accountFeesSection .accountFeesSectionContainer.marRight {
    margin-right: 20px !important;
}
.aboutCompany22 {
    bottom: 20%;
}
.aboutCompany33 {
    bottom: 40%;  
}
.aboutCompany34 {
    bottom: 70%;  
}
.facilitiesPage {
    padding-top: 20px !important;
}
@media(max-width: 1315px) {
    .aboutCompany1 {
        display: none;
    }
    .bannerTopContent {
        margin-bottom: 100px;
    }
}


















.bannerIndividualPage > .wrapper .bannerTopContent{
    margin-bottom: 0 !important;
}
.aboutCompanyIndividual {
    padding-top: 300px;
    padding-bottom: 217px;
}
.bannerIndividualPage .wrapper {
    padding-bottom: 0;
}
.bannerIndividualPage .aboutCompany2 {
    bottom: -40%;
    z-index: 10;
}
.aboutCompanyIndividual .aboutCompanySteps {
    z-index: 11;
    position: relative;
}
.aboutCompanyIndividual h2 {
    font-family: 'Gilroy-Bold';
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 23;
}
.aboutCompanyIndividual > p {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    position: relative;
    z-index: 23;
}
.bannerIndividualPage .wrapper {
    position: unset;
}
.aboutCompanyCircle {
    position: absolute;
    bottom: -10%;
    left: 0;
    z-index: 2;
}
.bannerBusiness {
    position: relative;
}
.cardIndividual {
    padding: 80px 0 150px 0;
}
.cardBusinessContainer {
    position: relative;
    z-index: 3;
}
.aboutCompanyIndividual {
    padding-top: 170px;
    position: relative;
}
.aboutCompanyIndividual .positionImg {
    top: -170px;
}
.aboutCompanyIndividual .wrapper {
    position: relative;
}
.aboutCompanyIndividual .wrapper .bannerBottomContent .bannerBottomContentText h2 {
    color: #000000;
    text-align: left;
}
.aboutCompanyIndividual .wrapper .bannerBottomContent {
    margin-bottom: 170px;
}
.cardIndividual .wrapper {
    position: relative;
    z-index: 11;
}
.styleBlack::after {
    content: none;
}
.styleBlack img{
    mix-blend-mode: luminosity;
}

